Repository Tuteria/Frontend-Assessment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

.lintstagedrc:

{
  "**/*.{ts,js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --allowJs --noEmit --esModuleInterop"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

feat: removed all dependencies
  packages/www/package.json
Due: prettier --write

docs: fixed typo in getting started manual
  GettingStarted.md
Due: prettier --write

feat: added a script to populate db with sample records
  package.json
  services/example/package.json
  services/example/src/prePopulateDb.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: updated start script in package.json, updated MD file to reflect changes
  GettingStarted.md
  services/example/package.json
Due: prettier --write

refactor: uninstalled cors from the example directory, installed in root package.json
  package.json
  services/example/package.json
  services/example/src/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: added heroku procfile
  Procfile
Due: none

fix: updated start script for production
  Procfile
  services/example/package.json
Due: prettier --write

fix: added engines
  package.json
  services/example/package.json
Due: prettier --write

feat: Added crud for note route
  .storybook/main.js
  data-layer/data_layer/models/__init__.py
  data-layer/data_layer/models/notes.py
  data-layer/data_layer/models/users.py
  data-layer/migrations/versions/541dbeca952e_added_user_table_and_modify_notes_table.py
  package.json
  services/example/package.json
  services/example/prisma/schema.prisma
  services/example/src/app.ts
  services/example/src/helper/hash.ts
  services/example/src/index.ts
  services/example/src/middlewares/auth.ts
  services/example/src/middlewares/validate.ts
  services/example/src/notes.ts
  services/example/src/users.ts
  services/example/tsconfig.json
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add user page
  packages/www/components/deleteNote.tsx
  packages/www/components/note.tsx
  packages/www/pages/api/users/[username]/notes/[noteId]/index.ts
  packages/www/pages/api/users/[username]/notes/create.ts
  packages/www/pages/api/users/[username]/notes/index.ts
  packages/www/pages/users/[username]/notes/[noteId]/index.tsx
  packages/www/pages/users/[username]/notes/create.tsx
  packages/www/pages/users/[username]/notes/index.tsx
  packages/www/service/controllers/userController.ts
  packages/www/service/middleware/validate.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: Completed task one with bonus and error fix
  .vscode/settings.json
  data-layer/data_layer/models/__init__.py
  data-layer/data_layer/models/notes.py
  data-layer/data_layer/models/users.py
  data-layer/migrations/versions/07bd6eb2c9eb_added_notes_and_users_table.py
  data-layer/migrations/versions/0b53d82fb93f_added_users_table_again.py
  data-layer/migrations/versions/2327f9633332_the_end.py
  data-layer/migrations/versions/2dab75d7140b_added_notes_table.py
  data-layer/migrations/versions/496aefde6380_added_notes_table.py
  data-layer/migrations/versions/4ed36eca098d_users_table.py
  data-layer/migrations/versions/8be1a91a9feb_added_users_table.py
  data-layer/migrations/versions/92f4f18e37cf_added_users_table_once_more.py
  data-layer/migrations/versions/b9571ba1fde6_final.py
  data-layer/migrations/versions/c15df8ef65ba_final.py
  data-layer/migrations/versions/d234e0cff2e6_final_users_table.py
  data-layer/migrations/versions/dbdfd1e5356c_the_end.py
  services/example/prisma/schema.prisma
  services/package/.vscode/snipsnap.code-snippets
  services/package/__tests__/database-setup.js
  services/package/__tests__/db.js
  services/package/db.js
  services/package/migrations/001-helloworld.sql
  services/package/mydb.sqlite
  services/package/package.json
  services/package/prisma/schema.prisma
  services/package/src/pages/api/notes/[note-id].ts
  services/package/src/pages/api/notes/create.ts
  services/package/src/pages/api/notes/index.ts
  services/package/src/pages/api/users/[username]/notes.ts
  services/package/src/pages/api/users/create.ts
  services/package/src/pages/api/users/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: Awaiting testing and prisma setup
  .vscode/settings.json
  README.md
  data-layer/data_layer/models/notes.py
  services/example/prisma/schema.prisma
  services/package/__tests__/database-setup.js
  services/package/__tests__/mydb.sqlite
  services/package/database-setup.js
  services/package/db.js
  services/package/knexfile.js
  services/package/migrations/001-helloworld.sql
  services/package/package.json
  services/package/prisma/schema.prisma
  services/package/seeds/notes.js
  services/package/seeds/users.js
  services/package/src/lib/db.ts
  services/package/src/pages/api/notes/[note-id].ts
  services/package/src/pages/api/notes/create.ts
  services/package/src/pages/api/notes/index.ts
  services/package/src/pages/api/users/[username]/notes.ts
  services/package/src/pages/api/users/create.ts
  services/package/src/pages/api/users/index.ts
  services/package/tsconfig.json
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: Awaiting testing and prisma setup
  data-layer/migrations/versions/1716f0aea839_update_notes_table_column_ownerid.py
Due: none

feat: created a nextjs api route to get notes
  packages/www/pages/api/getnotes.ts
  packages/www/pages/api/hello.js
  packages/www/pages/index.tsx
  services/example/src/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

Feat: Complete task 2
  services/note-app/pages/prisma/schema.prisma
Due: none

Feat: Complete task 2
  .lintstagedrc
  package.json
  services/example/src/notes.ts
  services/example/src/users.ts
  services/note-app/.gitignore
  services/note-app/README.md
  services/note-app/package.json
  services/note-app/pages/_app.js
  services/note-app/pages/api/notes/[noteId].ts
  services/note-app/pages/api/notes/create.ts
  services/note-app/pages/api/notes/index.ts
  services/note-app/pages/api/users/[username]/notes.ts
  services/note-app/pages/api/users/auth.ts
  services/note-app/pages/api/users/create.ts
  services/note-app/pages/api/users/index.ts
  services/note-app/pages/index.js
  services/note-app/pages/utils/hashPass.ts
  services/note-app/pages/utils/key.ts
  services/note-app/public/favicon.ico
  services/note-app/public/vercel.svg
  services/note-app/styles/Home.module.css
  services/note-app/styles/globals.css
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add admin page
  package.json
  packages/www/components/deleteNote.tsx
  packages/www/components/note.tsx
  packages/www/pages/admin/index.tsx
  packages/www/pages/admin/users/[username]/notes/[noteId].tsx
  packages/www/pages/admin/users/[username]/notes/index.tsx
  packages/www/pages/admin/users/create.tsx
  packages/www/pages/admin/users/index.tsx
  packages/www/pages/api/users/index.ts
  packages/www/pages/index.tsx
  packages/www/pages/notes/create.tsx
  packages/www/pages/users/[username]/notes/create.tsx
  packages/www/service/controllers/userController.ts
  packages/www/service/db/userService.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add authentication to endpoints
  packages/www/constants.ts
  packages/www/pages/admin/users/create.tsx
  packages/www/pages/api/auth/login.ts
  packages/www/pages/api/notes/[noteId].ts
  packages/www/pages/api/notes/create.ts
  packages/www/pages/api/users/[username]/notes/[noteId]/index.ts
  packages/www/pages/api/users/[username]/notes/create.ts
  packages/www/pages/api/users/[username]/notes/index.ts
  packages/www/pages/api/users/create.ts
  packages/www/service/controllers/authController.ts
  packages/www/service/controllers/index.ts
  packages/www/service/controllers/noteController.ts
  packages/www/service/controllers/userController.ts
  packages/www/service/middleware/index.ts
  packages/www/service/middlewares/checkAuth.ts
  packages/www/service/middlewares/index.ts
  packages/www/service/middlewares/jwtParser.ts
  packages/www/service/middlewares/validate.ts
  packages/www/service/utils/authHelper.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

Feat: Compete task 3
  package.json
  services/note-app/components/Card.tsx
  services/note-app/components/Header.tsx
  services/note-app/components/Layout.tsx
  services/note-app/components/Loader.tsx
  services/note-app/components/Person.tsx
  services/note-app/components/theme.ts
  services/note-app/components/ui-elements/SizeDetector.ts
  services/note-app/components/ui-elements/icons.tsx
  services/note-app/next-env.d.ts
  services/note-app/package.json
  services/note-app/pages/_app.js
  services/note-app/pages/_app.tsx
  services/note-app/pages/api/notes/[noteId].ts
  services/note-app/pages/api/notes/index.ts
  services/note-app/pages/api/users/[username]/notes.ts
  services/note-app/pages/api/users/auth.ts
  services/note-app/pages/api/users/index.ts
  services/note-app/pages/index.js
  services/note-app/pages/index.tsx
  services/note-app/pages/login.tsx
  services/note-app/pages/note/[noteId]/delete.tsx
  services/note-app/pages/note/[noteId]/edit.tsx
  services/note-app/pages/note/[noteId]/index.tsx
  services/note-app/pages/note/create.tsx
  services/note-app/pages/notes/index.tsx
  services/note-app/pages/users/[username]/notes.tsx
  services/note-app/pages/users/create.tsx
  services/note-app/pages/users/index.tsx
  services/note-app/pages/utils/hashPass.ts
  services/note-app/pages/utils/key.ts
  services/note-app/prisma/schema.prisma
  services/note-app/seedDB.ts
  services/note-app/styles/globals.css
  services/note-app/tsconfig.json
  services/note-app/utils/getUser.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

docs: updated instruction
  GettingStarted.md
Due: prettier --write

style: addedd font family
  packages/www/styles.css
Due: none

refactor: moved api routes from express server to nextjs
  GettingStarted.md
  packages/www/pages/admin-login.tsx
  packages/www/pages/admin.tsx
  packages/www/pages/api/notes/[id].ts
  packages/www/pages/api/notes/index.ts
  packages/www/pages/api/users/[id].ts
  packages/www/pages/api/users/[id]/notes.ts
  packages/www/pages/api/users/index.ts
  packages/www/pages/index.tsx
  packages/www/pages/login.tsx
  packages/www/pages/note/[id].tsx
  packages/www/pages/note/update/[id].tsx
  packages/www/pages/notes/create.tsx
  packages/www/pages/signup.tsx
  packages/www/pages/user/[id].tsx
  packages/www/utils/environment.tsx
  services/example/src/notes.ts
  services/example/src/users.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: Awaiting admin page and UI design
  packages/common/package.json
  packages/components/package.json
  packages/www/components/layout/index.tsx
  packages/www/components/layout/navbar.tsx
  packages/www/components/note/create.tsx
  packages/www/components/note/display.tsx
  packages/www/components/note/list.tsx
  packages/www/components/user/display.tsx
  packages/www/components/user/list.tsx
  packages/www/package.json
  packages/www/pages/[username].tsx
  packages/www/pages/admin.tsx
  packages/www/pages/api/hello.js
  packages/www/pages/api/index.ts
  packages/www/pages/index.tsx
  services/example/package.json
  services/package/package.json
  services/package/src/lib/middleware.ts
  services/package/src/pages/api/index.ts
  services/package/src/pages/api/notes/[note-id].ts
  services/package/src/pages/api/notes/create.ts
  services/package/src/pages/api/notes/index.ts
  services/package/src/pages/api/users/[username]/notes.ts
  services/package/src/pages/api/users/create.ts
  services/package/src/pages/api/users/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: Admin table migration and seeds
  data-layer/data_layer/models/__init__.py
  data-layer/data_layer/models/admins.py
  data-layer/migrations/versions/34ef1bf3ce8d_admin_table.py
  data-layer/migrations/versions/879dcaef3beb_added_admin_table.py
  data-layer/migrations/versions/adf12414a1d1_configured_admin_table.py
  services/example/prisma/schema.prisma
  services/package/seeds/admins.js
  services/package/src/pages/api/admin/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: Starting out design
  packages/www/assets/app.css
  packages/www/assets/header.css
  packages/www/components/form/auth.tsx
  packages/www/components/form/note.tsx
  packages/www/components/form/user.tsx
  packages/www/components/layout/header/data/headerLinks.json
  packages/www/components/layout/header/index.tsx
  packages/www/components/layout/index.tsx
  packages/www/components/layout/navbar.tsx
  packages/www/components/note/list.tsx
  packages/www/components/user/create.tsx
  packages/www/components/user/display.tsx
  packages/www/components/user/list.tsx
  packages/www/package.json
  packages/www/pages/_app.jsx
  packages/www/pages/admin.tsx
  packages/www/pages/index.tsx
  packages/www/src/index.ts
  services/package/knexfile.js
  services/package/src/pages/api/admin/index.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: Awaiting pre-commit check pass | testing | prisma setup | deployment
  packages/www/assets/app.css
  packages/www/assets/body.css
  packages/www/components/form/auth.tsx
  packages/www/components/form/note.tsx
  packages/www/components/form/user.tsx
  packages/www/components/layout/body/index.tsx
  packages/www/components/layout/header/index.tsx
  packages/www/components/layout/index.tsx
  packages/www/components/loading.tsx
  packages/www/components/note/create.tsx
  packages/www/components/note/display.tsx
  packages/www/components/note/list.tsx
  packages/www/components/user/create.tsx
  packages/www/components/user/display.tsx
  packages/www/package.json
  packages/www/pages/[username].tsx
  packages/www/pages/_app.tsx
  packages/www/pages/admin.tsx
  packages/www/pages/index.tsx
  services/package/package.json
Due: prettier --write

fix: A little tidying up
  packages/www/components/layout/header/data/headerLinks.json
  packages/www/components/layout/header/index.tsx
  packages/www/components/loading.tsx
  packages/www/components/user/display.tsx
Due: prettier --write

feat: add authentication to frontend
  README.md
  data-layer/data_layer/settings.py
  data-layer/migrations/versions/8306ba0c17d5_added_tables.py
  package.json
  packages/www/components/deleteNote.tsx
  packages/www/components/index.ts
  packages/www/components/login.tsx
  packages/www/components/nav.tsx
  packages/www/env.local.sample
  packages/www/package.json
  packages/www/pages/admin/index.tsx
  packages/www/pages/admin/users/[username]/notes/[noteId].tsx
  packages/www/pages/admin/users/[username]/notes/index.tsx
  packages/www/pages/admin/users/index.tsx
  packages/www/pages/index.tsx
  packages/www/pages/login.tsx
  packages/www/pages/users/[username]/notes/[noteId]/index.tsx
  packages/www/pages/users/[username]/notes/create.tsx
  packages/www/pages/users/[username]/notes/index.tsx
  packages/www/service/middlewares/checkAuth.ts
  packages/www/service/middlewares/jwtParser.ts
  packages/www/utils/retrieveToken.ts
  services/example/prisma/schema.prisma
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

bug: review-guide
  data-layer/data_layer/settings.py
  data-layer/migrations/versions/0514e3418c6b_added_notes_table.py
  data-layer/migrations/versions/07bd6eb2c9eb_added_notes_and_users_table.py
  data-layer/migrations/versions/0b53d82fb93f_added_users_table_again.py
  data-layer/migrations/versions/1716f0aea839_update_notes_table_column_ownerid.py
  data-layer/migrations/versions/2327f9633332_the_end.py
  data-layer/migrations/versions/2dab75d7140b_added_notes_table.py
  data-layer/migrations/versions/34ef1bf3ce8d_admin_table.py
  data-layer/migrations/versions/496aefde6380_added_notes_table.py
  data-layer/migrations/versions/4ed36eca098d_users_table.py
  data-layer/migrations/versions/5443b51a704a_added_notes_table.py
  data-layer/migrations/versions/8be1a91a9feb_added_users_table.py
  data-layer/migrations/versions/92f4f18e37cf_added_users_table_once_more.py
  data-layer/migrations/versions/adf12414a1d1_configured_admin_table.py
  data-layer/migrations/versions/b9571ba1fde6_final.py
  data-layer/migrations/versions/c15df8ef65ba_final.py
  data-layer/migrations/versions/d234e0cff2e6_final_users_table.py
  data-layer/migrations/versions/dbdfd1e5356c_the_end.py
  docker-compose.yml
  services/example/prisma/schema.prisma
Due: prettier --write

chore: updated migration file - configure schema.prisma to use postgres - change postgres user,pass and db names in docker-compose.yml
  data-layer/migrations/versions/d096749ea13c_added_notes_table.py
  docker-compose.yml
  services/example/prisma/schema.prisma
Due: prettier --write

chore: updated migration file (#1)
  data-layer/migrations/versions/d096749ea13c_added_notes_table.py
  docker-compose.yml
  services/example/prisma/schema.prisma
Due: prettier --write

feat: Added the first part of the frontend
  package.json
  packages/www/components/ErrorMessage.tsx
  packages/www/components/Layout.tsx
  packages/www/components/Navbar.tsx
  packages/www/css/styles.css
  packages/www/pages/_app.tsx
  packages/www/pages/index.tsx
  packages/www/pages/new.tsx
  services/note/src/app.ts
  services/note/src/env.ts
  services/note/src/index.ts
  services/note/tests/notes.test.ts
  services/note/tests/notes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: fix routing issues
  data-layer/data_layer/settings.py
  data-layer/migrations/versions/1a04e8f338e8_added_tables.py
  package.json
  packages/www/components/deleteNote.tsx
  packages/www/components/index.ts
  packages/www/components/nav.tsx
  packages/www/components/redirect.tsx
  packages/www/constants.ts
  packages/www/pages/_app.tsx
  packages/www/pages/admin/index.tsx
  packages/www/pages/admin/users/create.tsx
  packages/www/pages/admin/users/index.tsx
  packages/www/pages/index.tsx
  packages/www/pages/login.tsx
  packages/www/pages/notes/[noteId]/index.tsx
  packages/www/pages/users/[username]/notes/[noteId]/index.tsx
  packages/www/pages/users/[username]/notes/create.tsx
  packages/www/pages/users/[username]/notes/index.tsx
  packages/www/prisma/schema.prisma
  packages/www/utils/isAdminUser.ts
  packages/www/utils/retrieveToken.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

fix: Fixed the get all notes by ordering from the latest and also fixed the form submission
  packages/www/pages/index.tsx
  packages/www/pages/new.tsx
  packages/www/src/appUrl.ts
  services/note/src/router/notes/controllers/getNotes.ts
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

chore: migrate database to postgresql
  services/example/prisma/schema.prisma
Due: none

chore: set up for test
  packages/www/tests/api/admin.ts
  packages/www/tests/api/notes.ts
  packages/www/tests/api/users.ts
  packages/www/tests/index.ts
  packages/www/tsconfig.json
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop

feat: add users model
  data-layer/data_layer/models/__init__.py
  data-layer/data_layer/models/users.py
  data-layer/migrations/versions/6acb1ecec167_added_users_table.py
Due: none

chore: add author_id column to notes model
  data-layer/data_layer/models/notes.py
  data-layer/migrations/versions/367c1a811719_added_author_id_column.py
Due: none

chore: bootstrap nextjs project for notes app
  package.json
  packages/notes/README.md
  packages/notes/next-env.d.ts
  packages/notes/package.json
  packages/notes/tsconfig.json
Due: prettier --write, eslint --fix, tsc --allowJs --noEmit --esModuleInterop
